*{
    margin:0;
    padding:0;
}

.main_container{
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    height: 100vh;

    audio{
        grid-column: 2/6;
        grid-row: 2;
        color: red;
        width: 100%
    }
}