@mixin controlBtn{
    cursor: cell;
    display: inline-block;
    width: 2rem;
    margin: 0 1rem 0 0;
    outline:none;
    border: none;
    background-color:transparent;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s, transform 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

@mixin controlBtnHover{
    opacity: 1;
}

@mixin controlBtnActive{    
    transform: scale(0.9);
}

@mixin range{
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    height: 2px;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    cursor: cell;
}

@mixin rangeHover{
    opacity: 1;
}

@mixin sliderThumbWebkit{
    -webkit-appearance: none;
    appearance: none;
    width: 0.5rem;
    height: 1rem;
    background: transparent;
    border: 2px solid white;
    outline: none;
    cursor: cell;
}

@mixin sliderThumbMoz{
    width: 0.5rem;
    height: 1rem;
    background: transparent;
    border: 2px solid white;
    outline: none;
    cursor: cell;
}

*{
    margin:0;
    padding:0;
}

body{
    overflow: hidden;
}

.main_container{
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 7fr 2rem 2rem 2rem 1fr;
    height: 100vh;

    .main_display{
        grid-column: 1/7;
        grid-row: 1/7;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        background-image: url("../background/time_masters.gif");
    }

    .audio_controls{
        grid-column: 2;
        grid-row: 3;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        button{
            @include controlBtn()
        }

        button:hover{
            @include controlBtnHover()
        }

        button:active{
            @include controlBtnActive()
        }
    }

    .volume{
        grid-column: 2;
        grid-row: 4;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        #volume_btn_container{
            display: flex;
            justify-content: flex-start;
            align-items: center;            

            button{
                @include controlBtn()
            }
    
            button:hover{
                @include controlBtnHover()
            }
    
            button:active{
                @include controlBtnActive()
            }
        }

        #volume_slider_container{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 80%;
            
            #volume{
                @include range()
            }

            #volume:hover{
                @include rangeHover();
            }

            #volume::-webkit-slider-thumb{
                @include sliderThumbWebkit()
            }

            #volume::-moz-range-thumb{
                @include sliderThumbMoz()
            }
        }
    }

    .range{
        grid-column: 2/6;
        grid-row: 5;
        display: flex;
        align-items: center;

        
        #range{
            @include range();
            width: 100%;
        }

        #range:hover{
            @include rangeHover()
        }

        #range::-webkit-slider-thumb{
            @include sliderThumbWebkit()
        }

        #range::-moz-range-thumb{
            @include sliderThumbMoz()
        }
    }
}

@media (max-aspect-ratio: 1/1){
    .main_container{
        display:grid;
        grid-template-columns: 1rem 1fr 1fr 1fr 1fr 1rem;
        grid-template-rows: 1rem 2rem 2rem 2rem 1fr 2rem 1rem;

        .main_display{
            grid-column: 1/7;
            grid-row: 1/8;
        }

        .audio_controls{
            grid-column: 2/6;
            grid-row: 2;
            display: flex;
            justify-content: space-between;
            
            button{
                margin: 0;
            }
        }

        .volume{
            grid-column: 2/6;
            grid-row: 3;

            #volume_btn_container{
                width: 20%;

                button{
                    margin: 0;
                }
            } 
            
            #volume_slider_container{
                width: 80;

                #volume{
                    width: 100%;
                }
            }
        }

        .range{
            grid-column: 2/6;
            grid-row: 6;
        }
    }
}